@use '../../../../ui-kit/styles/index' as *;


.change-password-form {
  .title {
    font-weight: 500;
    font-size: 14px;
    color: #333333;
  }

  .change-password-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 30px;

    .old-password {
      margin: 15px 0 0;
    }

    .new-password {
      margin: 15px 0 0;
    }

    .confirm-new-password {
      margin: 15px 0 0;
    }
  }
}
