.restore-password-form {
  max-width: 600px;
  margin: auto;
  border-radius: 5px;
  padding: 20px 40px;
  box-shadow: 0 0 0 0 #000000, 2px 2px 8px 4px rgb(0 0 0 / 20%);

  &__title {
    margin: 0 0 20px;
  }
}
