@use "../../../../ui-kit/styles/index" as *;

.car-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  height: fit-content;

  @include mobile {
    margin: 0 0 20px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 15px;
    width: 100%;

    .text {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #333;
    }
  }

  &__status {
    background: #333;
    border-radius: 100px;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.035em;
    padding: 3px 15px;
  }

  &__device-key {
    margin: 10px 0 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
  }

  &__text {
    color: #333;
    font-size: 14px;
    line-height: 21px;
    margin: 12px 0 0;
  }
}
