.timeline-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  align-items: center;
  padding: 5px 15px;
  background: #F8F8F8;
  border: 1px solid #E0E0E0;
  border-radius: 16px;
  margin: 0 20px 0 0;
}
