.promo-mobile {
  height: 100%;
  background: #FFFFFF;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
    background: #FFFFFF;

    .header-login-button {
      padding: 0 30px;
      font-weight: 300;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-between;
    padding: 50px 15px;

    .title {
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      color: #525252;
    }

    .subtitle {
      font-weight: 700;
      font-size: 34px;
      line-height: 51px;
      text-align: center;
      color: #333333;
    }

    &__button {
      background: #333333;
      border-radius: 16px;
      border: none;
      color: #FFFFFF;
      height: 50px;
      text-transform: uppercase;
      justify-content: space-between;
      padding: 10px 35px;
    }

    @-moz-keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateX(0);
        transform: translateX(0);
      }
      40% {
        -moz-transform: translateX(-10px);
        transform: translateX(-10px);
      }
      60% {
        -moz-transform: translateX(-5px);
        transform: translateX(-5px);
      }
    }
    @-webkit-keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
      40% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
      }
      60% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
      }
    }
    @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
      40% {
        -moz-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
      }
      60% {
        -moz-transform: translateX(-5px);
        -ms-transform: translateX(-15px);
        -webkit-transform: translateX(-5px);
        transform: translateX(-15px);
      }
    }

    .glyphicon-chevron-right {
      color: white;
      margin-left: 5px;
      font-size: 30px;
      font-weight: 100;
    }

    .bounce {
      -moz-animation: bounce 2s infinite;
      -webkit-animation: bounce 2s infinite;
      animation: bounce 2s infinite;
    }

    .arrows {
      display: flex;
      flex-direction: row;
    }
  }
}
