.info-form {
  margin: 10px 0 0 0;
  padding: 30px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 16px;

  .title {
    margin: 0 0 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
  }
}
