@use "src/ui-kit/styles" as *;

.additional-request {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 250px;
  padding: 15px;
  background: #FFFFFF;
  border-radius: 15px;
  margin: 0 0 10px;

  @include mobile {
    width: 100%;
  }

  .right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    color: #333333;
  }

  &__price {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #339933;
    margin: 0 20px 0 0;
  }

  &__checkbox {
    cursor: pointer;
  }
}
