.change-date-mobile {
  .datepicker-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin: 0 0 10px;
  }

  .datepicker-wrapper {
    padding: 16px;
    background: #FFFFFF;
    border-radius: 22px;
  }

  .link-arrow {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__text {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #333333;
    }
  }
}
