.forms-masked-input {
  width: 100%;

  .masked-input {
    padding: 10px 15px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1em;
    color: #919191;
    width: inherit;
  }
}
